kafka-python
clickhouse-driver
Faker
psycopg2-binary
requests
cryptography
python-dotenv
fastapi
uvicorn
langchain
openai
httpx
langchain-community
aiofiles

# per OSRM-based routing nel producer
polyline

# per parsing GPX (se in futuro lo riutilizzi)
gpxpy

# per calcolo distanza haversine nel consumer
haversine

python-jose[cryptography]      # per JWT
passlib[bcrypt]               # per hashing password 
python-multipart